<!DOCTYPE html>
<html>
<head>
  <title>MidasGenie</title>
  <%= stylesheet_link_tag    "midas_genie/application", media: "all" %>
  <%= javascript_include_tag "midas_genie/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
